go 1.21.1

use (
	./atomic-values
	./bendavis/channel
	./bendavis/mutex
	./bendavis/waitgroup
	./bugbytes/gohtmx
	./builder-pattern/builder1
	./builder-pattern/builder2
	./cache-api
	./cafe/di
	./concurrency-tick
	./easy-issues
	./effective-go/allocation-make
	./fiberoptic/fiber-template
	./fiberoptic/fiber-template-blog
	./fiberoptic/fiber-template-layout
	./getting-started-go-influxdb
	./go-by-example/hello-world
	./go-by-example/values
	./go-by-example/variables
	./go-web-examples/advanced-middleware
	./go-web-examples/basic-middleware
	./go-web-examples/forms
	./go-web-examples/http-server
	./go-web-examples/mysql-database
	./go-web-examples/routes-using-gorilla-mux
	./go-web-examples/sessions
	./go-web-examples/static-files
	./go-web-examples/templates
	./gorm-seed
	./gqlgen-todos
	./graphql-cards
	./grpc-calculator
	./httptest
	./kafka-consumer-group
	./learn-x-in-y-minutes
	./map-demo
	./mehran/adapter-pattern-mediaplayer
	./mehran/observer-pattern
	./microauth
	./migration-cli
	./queue
	./quiz
	./restful-api-gin-mongo
	./richmenu
	./ruslan-tsyganok/grpc
	./ruslan-tsyganok/grpc-gateway
	./ruslan-tsyganok/viper
	./server-sent-events
	./sleep-hack
	./slice-hack
	./strategy-pattern
	./struct-config-pattern
	./tiktoklive/demo
	./websocket-message
)
